concept-map {
  display: block;
  height: 100%;
  width: 100%;

  position: absolute;
  overflow: hidden;
}

.help-text {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  position: fixed;
  cursor: default;
  pointer-events: none;
}

#menubar {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  position: fixed;
  cursor: default;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}
