
cm-concept {
  position: absolute;
  transform: translate(-50%, -50%);
  min-height: 1em;
  z-index: 1;

  background-color: lightgrey;
  padding: 6px 18px;
  border: 1px solid black;
}

svg {
  position: absolute;
  overflow: visible;
  top: 0;
  left: 0;
}

path {
  stroke: #000000;
  stroke-width: 1;
}

#cm-handle-label {
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
}

.prevent-select {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.selected {
  box-shadow: 0 0 1px 2px cornflowerblue;
}

.cm-label {
  position: absolute;
  transform: translate(-50%, -50%);
  min-height: 1em;

  background-color:#fff;
  padding: 4px 10px;
  border-radius: 10px;
}
